/node_modules
/test/data/babylon
/test/data/babel-parser
/test/data/graphql-tools-src

# Ignore TypeScript-emitted files
*.js
!.*rc.js
*.d.ts
# Except...
!/types/**/*.d.ts

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml
.idea/git_toolbox_prj.xml
*.iml
modules.xml
